<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>edu.iba.security.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FilterRole</filter-name>
        <filter-class>edu.iba.security.FilterRole</filter-class>
    </filter>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>servlets.ListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SectionServlet</servlet-name>
        <servlet-class>servlets.SectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SectionServlet</servlet-name>
        <url-pattern>/section</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterRole</filter-name>
        <url-pattern>/sectionpage.jsp</url-pattern>
    </filter-mapping>

</web-app>